{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{% block title %}{% endblock title %}</title>

	<link rel="stylesheet" href="{% static 'css/base.css' %}">

	{% block link %}{% endblock link %}

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		{% comment %} <img class="header-img" src="../../static/img/balqaimaq-logo.png" alt=""> {% endcomment %}
		<p class="header-logo">Q</p>

		<ul class="header-list">
			<li class="header-item"><a {% if section == "orders" %}class="selected"{% else %}class="not-selected"{% endif %} href="{% url 'orders_list' %}">Заказы</a></li>
			<li class="header-item"><a {% if section == "clients" %}class="selected"{% else %}class="not-selected"{% endif %} href="{% url 'clients_list' %}">Клиенты</a></li>
			<li class="header-item"><a {% if section == "storage" %}class="selected"{% else %}class="not-selected"{% endif %} href="{% url 'products_list' %}">Склад</a></li>
			{% comment %} <li class="header-item"><a {% if section == "analytics" %}class="selected"{% else %}class="not-selected"{% endif %} href="{% url 'orders_analytics' %}">Аналитика</a></li> {% endcomment %}
			<span class="header-user">
				<img class="header-user-img" src="../../static/img/user-logo.jpg"> 
				{% if request.user.is_authenticated %}
					<a href="{% url 'clients_detail' request.user.username %}">+{{ request.user.username }}</a>
				 	<a href="{% url "clients_logout" %}">Выйти</a>
				{% else %}
				 	<a href="{% url "clients_login" %}">Войти</a>
				{% endif %}
			</span>
		</ul>
	</header>

	<div class="main">
		{% block body %}
		{% endblock body %}
	</div>	
</body>
</html>