{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/clients_list.css' %}">
{% endblock link %}

{% block title %}Список клиентов{% endblock title %}

{% block body %}
	<h1>Список клиентов</h1>

	<div class="center">
		<button><a href="{% url 'clients_create' %}">+ Новый клиент</a></button>

		<table>
			<tr>
				<th onclick="window.location='{% url 'clients_list_order_by' "phone_number" %}'">Номер телефона</th>
				<th onclick="window.location='{% url 'clients_list_order_by' "name" %}'">Имя</th>
				<th onclick="window.location='{% url 'clients_list_order_by' "address" %}'">Адрес</th>
			</tr>
			{% for client in clients %}
				{% if forloop.counter0|divisibleby:2 %}
					<tr onclick="window.location='{% url 'clients_detail' client.phone_number %}'" class="white">
						<td>+{{client.phone_number}}</td>
						<td>{{client.name}}</td>
						<td>{{client.address}}</td>
					</tr>
				{% else %}
					<tr onclick="window.location='{% url 'clients_detail' client.phone_number %}'" class="gray">
						<td>+{{client.phone_number}}</td>
						<td>{{client.name}}</td>
						<td>{{client.address}}</td>
					</tr>
				{% endif %}
				
			{% endfor %}
		</table>
	</div>

{% endblock body %}